<!-- RYVIU APP :: WIDGET-TOTAL -->
<div class="review-widget">
<ryviu-widget-total reviews_data="{{product.metafields.ryviu.product_reviews_info  | escape  }}" product_id="{{product.id}}" handle="{{product.handle}}"></ryviu-widget-total>
</div>
<!-- / RYVIU APP -->